html, body {
  min-height: 100%;
	display: flex;
  flex-direction: column;
}

body {
	margin: 0;
	justify-content: center;
  background-color: #DEDBD2;
  font-family: 'Playfair Display';
}


.bar {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  background-color: #333;
  position: fixed;
  width: 100%;
}

.bar a:hover {
  background: #B0C4B1;
  color: black;
}

.bar li {
  display: inline;
  float: right;

}
.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}
