html, body {
  min-height: 100%;
	display: flex;
  flex-direction: column;
}

body {
	margin: 0;
	justify-content: center;
  background-color: white;
  font-family: 'Playfair Display';
}


.bar {
  overflow: hidden;
  list-style-type: none;
  margin: auto;
  background-color: #333;
  position: fixed;
  width: 100%;
  padding: 15px;


}

.bar a:hover {
  background: white;
  color: black;
}

.bar li {
  display: inline;
  padding: 40px;

 }
.bar li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 26px;
  text-decoration: none;
  margin: auto;

}
